@page "/"

@using System.Diagnostics
@using System.Text.Json
@using ExilumBBS.Models.DTO
@using ExilumBBS.Models.NoDbEntity
@using ExilumBBS.Models.Response
@using ExilumBBS.Services.StateService
@using ExilumBBS.State
@using System.ComponentModel
@using System.Threading.Tasks

@inject ITokenService tokenService
@inject IJSRuntime JS
@inject IPopupService popupService
@inject INavigationService navigationService
@inject IStateService stateService

@inject NavigationManager Navigation
@inject PostListState postListState
@inject UserState userState
@inject AppState appState
@inject HttpTools httpTools

@implements IDisposable
@if (showPage)
{
    <MCard Class="overflow-auto"
           Style="margin: 0 auto; height: calc(100vh - 64px);"
           Id="infinite-scroll-usage">
        <MPullRefresh OnRefresh="PullRefresh">
            <MCellGroup Subheader="公告">
                @foreach (var item in TopPostPreviews)
                {
                    <MCell Title="@item.Title" Href="@($"/post/{item.TopicId}")"></MCell>
                }
            </MCellGroup>
            <MList ThreeLine>
                <MSubheader>帖子</MSubheader>
                @foreach (var item in PostList)
                {
                    <MListItem Link>
                        <div class="home-list">
                            <div class="home-list-user">
                                <MListItemAvatar>
                                    <MImage Src="@item.UserAvatar"></MImage>
                                </MListItemAvatar>
                                <MListItemContent>
                                    <MListItemTitle>
                                        @item.UserNickName
                                        <MChip Color="primary" Class="ml-2" Small>
                                            @($"LV{item.UserLevel}")
                                        </MChip>

                                        @if (item.IsAdmin)
                                        {
                                            <MChip Small Class="ml-2"
                                                   Color="primary">
                                                官方
                                            </MChip>
                                        }
                                    </MListItemTitle>
                                    <MListItemSubtitle>@item.CreateTime</MListItemSubtitle>
                                </MListItemContent>
                            </div>
                            <div class="home-list-content text-truncate ml-2" @onclick="() => ToTopic(item.TopicId)">
                                <div class="home-list-content-title text-truncate ">
                                    @item.Title
                                </div>
                                <div class="home-list-content-content text-truncate grey--text text--lighten-1">
                                    @item.Content
                                </div>
                            </div>
                            <div class="d-flex align-center" @onclick:stopPropagation>
                                <div class="ml-2">
                                    <MIcon Color="default">mdi-comment-outline</MIcon>
                                    <span class="text-caption text--secondary ml-1">@item.CommentNum</span>
                                </div>
                                <div class="ml-2">
                                    <MButton Color="@(item.IsLike ? "primary" : "default")" Icon Size="small" OnClick="() => ToggleLike(item)">
                                        <MIcon>@(item.IsLike ? "mdi-thumb-up" : "mdi-thumb-up-outline")</MIcon>
                                    </MButton>
                                </div>
                                <span class="text-caption text--secondary ml-1">@item.LikeNum</span>
                            </div>
                        </div>
                    </MListItem>

                    <MDivider></MDivider>
                }
            </MList>
            <MInfiniteScroll OnLoad="@OnLoad"
                             Parent="#infinite-scroll-usage">
            </MInfiniteScroll>
        </MPullRefresh>

    </MCard>
}



<style>
    .home-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .home-list-user {
        display: flex
    }
</style>


@code {
    private IJSObjectReference? jsModule;

    /// <summary>
    /// 置顶帖子
    /// </summary>
    private List<TopPostPreview> TopPostPreviews = [];

    /// <summary>
    /// 帖子列表
    /// </summary>
    private List<PostPreview> PostList = [];

    /// <summary>
    /// 控制组件是否可见
    /// </summary>
    private bool showPage = false;

    /// <summary>
    /// 是否还有下一页内容
    /// </summary>
    private bool NextPage = true;
    private long LastTid = 0;
    private long PubTime = 0;
    private long ReplyTime = 0;
    private long HotValue = 0;

    /// <summary>
    /// 用于下次恢复滚动位置
    /// </summary>
    private long ScrollY = 0;

    /// <summary>
    /// 前往帖子详情页
    /// </summary>
    /// <param name="topicId"></param>
    private async void ToTopic(long topicId)
    {
        var scrollTop = 0;
        if (jsModule != null)
        {
            scrollTop = await jsModule.InvokeAsync<int>("getScrollPosition", "infinite-scroll-usage");
        }

        Debug.WriteLine($"scrollTop:{scrollTop}");
        var stat = new HomeHistoryStatus()
        {
            HotValue = this.HotValue,
            ReplyTime = this.ReplyTime,
            PubTime = this.PubTime,
            LastTid = this.LastTid,
            NextPage = this.NextPage,
            ShowPage = this.showPage,
            PostList = this.PostList,
            ScrollY = scrollTop,
            TopPostPreviews = this.TopPostPreviews
        };
        stateService.SetHomeHistoryStatus(stat);

        navigationService.NavigateTo($"/post/{topicId}");
    }

    /// <summary>
    /// 切换帖子点赞状态
    /// </summary>
    /// <param name="postPreview"></param>
    /// <returns></returns>
    private async Task ToggleLike(PostPreview postPreview)
    {
        // 判断登录状态
        if (!userState.IsLogin)
        {
            Debug.WriteLine("请先登录");
            await popupService.EnqueueSnackbarAsync("请先登录", AlertTypes.Info);
            return;
        }

        var response = await httpTools.GetAsync($"/community/topic/like/{postPreview.TopicId}");
        if (response != null && response.Code == 0)
        {
            Debug.WriteLine("点赞成功");
            postPreview.IsLike = postPreview.IsLike == true ? false : true;
            if (postPreview.IsLike)
            {
                postPreview.LikeNum++;
                await popupService.EnqueueSnackbarAsync("点赞成功");
            }
            else
            {
                await popupService.EnqueueSnackbarAsync("取消点赞");
            }
        }
    }

    /// <summary>
    /// 触底加载
    /// </summary>
    /// <param name="args"></param>
    /// <returns></returns>
    private async Task OnLoad(InfiniteScrollLoadEventArgs args)
    {
        await PostLoad();
        args.Status = NextPage == false ? InfiniteScrollLoadStatus.Empty : InfiniteScrollLoadStatus.Ok;
    }

    /// <summary>
    /// 下拉刷新
    /// </summary>
    /// <returns></returns>
    private async Task PullRefresh()
    {
        // 值初始化
        showPage = false;
        TopPostPreviews = [];
        PostList = [];
        NextPage = true;
        LastTid = 0;
        PubTime = 0;
        ReplyTime = 0;
        HotValue = 0;
        // 拉取数据
        await PostLoad();
        await PostTop();
        showPage = true;
    }

    /// <summary>
    /// 加载帖子
    /// </summary>
    /// <returns></returns>
    private async Task<List<PostPreview>> PostLoad()
    {
#if DEBUG
    Debug.WriteLine("触底加载");
    Debug.WriteLine($"sortType:{(int)postListState.SortType}");
#endif
        var result = await httpTools.GetAsync($"/community/topic/list?sort_type={(int)postListState.SortType}&category_id={postListState.CategoryId}&query_type={postListState.QueryType}&last_tid={LastTid}&pub_time={PubTime}&reply_time={ReplyTime}&hot_value={HotValue}");

        if (result != null && result.Data != null)
        {
            var pageList = result.Data.Value.Deserialize<PostPageListResponse>(); ;
            if (pageList != null)
            {
                NextPage = pageList.NextPage;
                LastTid = pageList.LastTid;
                PubTime = pageList.PubTime;
                ReplyTime = pageList.ReplyTime;
                HotValue = pageList.HotValue;

                if (pageList.List.Count > 0)
                {
                    PostList.AddRange(pageList.List);
                    return pageList.List;
                }
            }
        }

        return [];

    }

    /// <summary>
    /// 加载置顶公告
    /// </summary>
    /// <returns></returns>
    private async Task PostTop()
    {
#if DEBUG
        Debug.WriteLine("获取置顶帖子");
#endif
        var result = await httpTools.GetAsync($"/community/top?category_id={postListState.CategoryId}", true);
        if (result != null && result.Data != null)
        {
            var topList = result.Data.Value.Deserialize<List<TopPostPreview>>();
            if (topList != null && topList.Count > 0)
            {
                TopPostPreviews.AddRange(topList);
            }
        }
    }

    /// <summary>
    /// 状态机变化时触发
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    private async void OnStateChanged(object? sender, PropertyChangedEventArgs e)
    {
        // 首先清空原来的公告以及帖子列表
        TopPostPreviews = [];
        PostList = [];

        // 将分页状态恢复到初始状态
        LastTid = 0;
        PubTime = 0;
        ReplyTime = 0;
        HotValue = 0;
        ScrollY = 0;
        NextPage = true;

        //页面拉回顶部
        await JS.InvokeVoidAsync("eval",
               "document.getElementById('infinite-scroll-usage').scrollTop = 0;");

        // 重新加载公告以及帖子
        await PostTop();
        await PostLoad();

        //触发 UI 刷新
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        navigationService.Initialize(Navigation);

        appState.MainLayoutState.FilterVisable = true;
        var bartitle = CategoryInfo
                       .categoryList
                       .Where(it => it.CategoryId == postListState.CategoryId)
                       .First().CategoryName;

        appState.MainLayoutState.AppBarTitle = bartitle;
        postListState.PropertyChanged += OnStateChanged;

        var stat = stateService.GetHomeHistoryStatus();

        if (stat != null)
        {
            // 恢复之前的浏览状态
            this.HotValue = stat.HotValue;
            this.ReplyTime = stat.ReplyTime;
            this.PubTime = stat.PubTime;
            this.LastTid = stat.LastTid;
            this.NextPage = stat.NextPage;
            this.showPage = stat.ShowPage;
            this.PostList = stat.PostList;
            this.TopPostPreviews = stat.TopPostPreviews;
            this.ScrollY = stat.ScrollY;
            stateService.ClearHomeHistoryStatus();
        }
        else
        {
            await PostTop();
            showPage = true;
        }

        Debug.WriteLine("Home初始化");
        await base.OnInitializedAsync();
    }

    /// <summary>
    /// 渲染完成后执行
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/jstools.js");
        }

        if (jsModule != null && ScrollY != 0)
        {
            await jsModule.InvokeVoidAsync("setScrollPosition", "infinite-scroll-usage", ScrollY);
        }
        await base.OnAfterRenderAsync(firstRender);


        // 位于首页时，本质上切换分类选项卡都是在同一页面进行，并且此时CategoryId=MenuId
        appState.CurrentMenu = postListState.CategoryId;
    }

    public async void Dispose()
    {
        // 释放状态机监听
        postListState.PropertyChanged -= OnStateChanged;

        if (jsModule != null)
        {
            await jsModule.DisposeAsync();
        }
    }
}
