@page "/notify"
@using ExilumBBS.Models.Response.Notify
@using ExilumBBS.State
@using System.Text.Json.Serialization
@using System.Text.Json
@using System.Diagnostics

@inject AppState appState
@inject PostCommentState postCommentState
@inject HttpTools httpTools
@inject NavigationManager navigationManager

@inject IPopupService popupService
@inject INavigationService navigationService

@inject IJSRuntime JS

@implements IDisposable

@layout WithBackLayout

<MToolbar>
    <MTabs Grow>
        <MTab OnClick="() => SwitchType(1)">
            <MBadge Content="unreadnumResponse.CommentUnreadNum" Value="unreadnumResponse.CommentUnreadNum != 0" Color="red">
                回复
            </MBadge>
        </MTab>
        <MTab OnClick="() => SwitchType(2)">
            <MBadge Content="unreadnumResponse.LikeUnreadNum" Value="unreadnumResponse.LikeUnreadNum != 0" Color="red">
                获赞
            </MBadge>
        </MTab>
        <MTab OnClick="() => SwitchType(3)">
            <MBadge Content="unreadnumResponse.FollowUnreadNum" Value="unreadnumResponse.FollowUnreadNum != 0" Color="red">
                关注
            </MBadge>
        </MTab>
        <MTab OnClick="() => SwitchType(4)">
            <MBadge Content="unreadnumResponse.NoticeUnreadNum" Value="unreadnumResponse.NoticeUnreadNum != 0" Color="red">
                通知
            </MBadge>
        </MTab>
    </MTabs>
</MToolbar>


@if (ListType == 1)
{
    <div id="infinite-scroll-usage" class="overflow-auto" style="margin: 0 auto;height: calc(100vh - 128px);">
        <MList TwoLine>
            @foreach (var item in commentMessageItems)
            {
                <MListItem OnClick="() => OpenCommentDialog(item.CommentId, item.TopicId)">
                    <MListItemAvatar>
                        <MImage Src="@item.AvatarUrl"></MImage>
                    </MListItemAvatar>

                    <MListItemContent>
                        <MListItemTitle>@((MarkupString)item.Title)</MListItemTitle>
                        <MListItemSubtitle>@((MarkupString)item.Content)</MListItemSubtitle>
                        <MListItemSubtitle><div class="logtime">@item.LogTime</div></MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            }
        </MList>

        <MInfiniteScroll OnLoad="@OnLoad"
                         Parent="#infinite-scroll-usage">
        </MInfiniteScroll>
    </div>


    <MDialog @bind-Value="showCommentDialog"
             Fullscreen
             Transition="dialog-bottom-transition">
        <ChildContent>
            <MCard>
                <MToolbar>
                    <MButton Icon
                             OnClick="() => showCommentDialog = false">
                        <MIcon>mdi-close</MIcon>
                    </MButton>
                    <MToolbarTitle>全部回复</MToolbarTitle>
                    <MSpacer></MSpacer>
                </MToolbar>
                <MList Dense
                       Class="overflow-auto"
                       Style="margin: 0 auto;height:calc(100vh - 64px)">
                    @if (showCommentDialog == true)
                    {
                        @if (floorInfo != null)
                        {
                            <MListItem>
                                <div class="topic-userinfo">
                                    <div class="comment-userinfo">
                                        <MAvatar size="32" Class="mr-2">
                                            <MImage Src="@floorInfo.UserAvatar"></MImage>
                                        </MAvatar>
                                        <div>
                                            <span class="font-weight-medium deep-orange--text">
                                                @floorInfo.UserNickName
                                            </span>
                                            <span>
                                                :
                                            </span>
                                            @if (floorInfo.IsAuthor)
                                            {
                                                <MChip Small
                                                       Class="ml-2"
                                                       Color="primary">
                                                    楼主
                                                </MChip>
                                            }

                                            @if (floorInfo.IsAdmin)
                                            {
                                                <MChip Small
                                                       Class="ml-2"
                                                       Color="primary">
                                                    官方
                                                </MChip>
                                            }
                                        </div>
                                    </div>

                                    <div class="ml-10 mt-2">
                                        <p class="grey--text text--lighten-1">
                                            @floorInfo.CreateTime
                                        </p>
                                    </div>

                                    <div class="mt-2 ml-10 post-content">
                                        @((MarkupString)floorInfo.Content)
                                    </div>

                                    <div class="d-flex align-center mt-2 ml-10" style="justify-content:flex-end">
                                        @* <MButton Icon
                                                 Size="small"
                                                 Color="@(postInfo.IsLike ? "primary" : "default")"
                                                 OnClick="() => ToggleTopicLike(postInfo)">
                                            <MIcon>@(postInfo.IsLike ? "mdi-thumb-up" : "mdi-thumb-up-outline")</MIcon>
                                        </MButton>
                                        <span class="text-caption text--secondary ml-1">@postInfo.LikeNum</span>

                                        <MButton Icon
                                                 Size="small"
                                                 Color="@(postInfo.IsBad ? "primary" : "default")"
                                                 OnClick="() => ToggleTopicBad(postInfo)">
                                            <MIcon>@(postInfo.IsBad ? "mdi-thumb-down" : "mdi-thumb-down-outline")</MIcon>
                                        </MButton> *@

                                        <MButton Icon
                                                 Size="small"
                                                 Class="ml-3"
                                                 OnClick="() => {}">
                                            <MIcon left>mdi-comment-processing-outline</MIcon>
                                        </MButton>
                                        <span class="text-caption text--secondary ml-1">@floorInfo.ReplyNum</span>
                                    </div>
                                </div>
                            </MListItem>
                            <MDivider></MDivider>
                            @if (floorInfo.CommentReply != null)
                            {
                                @foreach (var item in floorInfo.CommentReply)
                                {
                                    <MListItem>
                                        <div class="topic-userinfo">
                                            <div class="comment-userinfo">
                                                <MAvatar size="32" Class="mr-2">
                                                    <MImage Src="@item.UserAvatar"></MImage>
                                                </MAvatar>
                                                <div>
                                                    <span class="font-weight-medium deep-orange--text">
                                                        @item.UserNickName
                                                    </span>
                                                    <span>
                                                        :
                                                    </span>
                                                    @if (item.IsAuthor)
                                                    {
                                                        <MChip Small
                                                               Class="ml-2"
                                                               Color="primary">
                                                            楼主
                                                        </MChip>
                                                    }

                                                    @if (item.IsAdmin)
                                                    {
                                                        <MChip Small
                                                               Class="ml-2"
                                                               Color="primary">
                                                            官方
                                                        </MChip>
                                                    }
                                                </div>
                                            </div>

                                            <div class="mt-2 ml-10 post-content">
                                                @((MarkupString)item.Content)
                                            </div>

                                            <div class="mt-2 ml-10 reply-toolbar">
                                                <p class="grey--text text--lighten-1">
                                                    @floorInfo.CreateTime
                                                </p>

                                                <MButton Icon
                                                         Size="small">
                                                    <MIcon>mdi-comment-processing-outline</MIcon>
                                                </MButton>
                                            </div>
                                        </div>
                                    </MListItem>
                                    <MDivider></MDivider>
                                }
                            }
                        }
                    }
                </MList>
            </MCard>
        </ChildContent>
    </MDialog>
}

@if (ListType == 2)
{
    <div id="infinite-scroll-usage" class="overflow-auto" style="margin: 0 auto;height: calc(100vh - 128px);">
        <MList TwoLine>
            @foreach (var item in likeMessageItems)
            {
                <MListItem OnClick="() => ToTopic(item.TopicId)">
                    <MListItemAvatar>
                        <MImage Src="@item.AvatarUrl"></MImage>
                    </MListItemAvatar>

                    <MListItemContent>
                        <MListItemTitle>@((MarkupString)item.Title)</MListItemTitle>
                        <MListItemSubtitle><div class="logtime">@item.LogTime</div></MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            }
        </MList>
        <MInfiniteScroll OnLoad="@OnLoad"
                         Parent="#infinite-scroll-usage">
        </MInfiniteScroll>
    </div>
}

@if (ListType == 3)
{
    <div id="infinite-scroll-usage" class="overflow-auto" style="margin: 0 auto;height: calc(100vh - 128px);">
        <MList TwoLine>
            @foreach (var item in followMessageItems)
            {
                <MListItem>
                    <MListItemAvatar>
                        <MImage Src="@item.AvatarUrl"></MImage>
                    </MListItemAvatar>

                    <MListItemContent>
                        <MListItemTitle>@((MarkupString)item.Title)</MListItemTitle>
                        <MListItemSubtitle><div class="logtime">@item.LogTime</div></MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            }
        </MList>
        <MInfiniteScroll OnLoad="@OnLoad"
                         Parent="#infinite-scroll-usage">
        </MInfiniteScroll>
    </div>
}

@if (ListType == 4)
{
    <div id="infinite-scroll-usage" class="overflow-auto" style="margin: 0 auto;height: calc(100vh - 128px);">
        <MInfiniteScroll OnLoad="@OnLoad"
                         Parent="#infinite-scroll-usage">
        </MInfiniteScroll>
    </div>
}

<style>
    .reply-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logtime {
        display: flex;
        justify-content: flex-end;
    }

    .comment-userinfo {
        display: flex;
        width: 100%;
    }

    .emoji {
        width: 3rem;
        height: 3rem;
    }

    img {
        max-width: 100%;
    }
</style>


@code {
    private UnreadnumResponse unreadnumResponse = new UnreadnumResponse();
    private IJSObjectReference? jsModule;
    private bool showCommentDialog { get; set; } = false;

    /// <summary>
    /// 要查看的消息类型
    /// </summary>
    private int ListType { get; set; } = 1;

    /// <summary>
    /// 消息页码
    /// </summary>
    private int PageNum { get; set; } = 1;

    /// <summary>
    /// 每页大小
    /// </summary>
    private int PageSize { get; set; } = 20;

    /// <summary>
    /// 总数据条数
    /// </summary>
    private long Total { get; set; }

    /// <summary>
    /// 计算获取总页数
    /// </summary>
    private int TotalPages => (int)Math.Ceiling((double)Total / PageSize);

    private List<CommentMessageItem> commentMessageItems = [];
    private List<FollowMessageItem> followMessageItems = [];
    private List<LikeMessageItem> likeMessageItems = [];
    private FloorInfoResponse? floorInfo;

    protected override async Task OnInitializedAsync()
    {
        appState.WithbackLayoutState.AppBarTitle = "消息";
        navigationService.Initialize(navigationManager);
        postCommentState.CommentStateChange += CommentDialogStateChange;
        await GetUnreadNum();
        await GetMessageListAsync();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/jstools.js");
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task SwitchType(int type)
    {
        ListType = type;
        commentMessageItems = [];
        followMessageItems = [];
        likeMessageItems = [];
        PageNum = 1;
        Total = 0;

        Debug.WriteLine(ListType);
        // await GetMessageListAsync();
    }

    /// <summary>
    /// 获取未读消息数字
    /// </summary>
    /// <returns></returns>
    private async Task GetUnreadNum()
    {
        var response = await httpTools.GetAsync("/community/message/unread_num");
        if (response != null && response.Code == 0 && response.Data.HasValue)
        {
            var unreadNumResponse = response.Data.Value.Deserialize<UnreadnumResponse>();

            if (unreadNumResponse != null)
            {
                this.unreadnumResponse = unreadNumResponse;
            }
        }
    }

    /// <summary>
    /// 触底加载
    /// </summary>
    /// <param name="args"></param>
    /// <returns></returns>
    private async Task OnLoad(InfiniteScrollLoadEventArgs args)
    {
        await GetMessageListAsync();
        args.Status = PageNum >= TotalPages ? InfiniteScrollLoadStatus.Empty : InfiniteScrollLoadStatus.Ok;
    }

    /// <summary>
    /// 获取消息列表
    /// </summary>
    /// <returns></returns>
    private async Task GetMessageListAsync()
    {
        if (PageNum < TotalPages || (Total == 0 && PageNum == 1))
        {
            var response = await httpTools.GetAsync($"/community/message/list?type={ListType}&page_num={PageNum}&page_size={PageSize}&is_pc=1");
            if (response != null && response.Code == 0)
            {
                if (response.Data.HasValue)
                {
                    var messageList = response.Data.Value.Deserialize<MessageListResponse>();
                    if (messageList != null)
                    {
                        Total = messageList.Total;
                        PageNum = PageNum + 1;
                        switch (ListType)
                        {
                            case 1:
                                var commentMsgList = messageList.List.Deserialize<List<CommentMessageItem>>();
                                if (commentMsgList != null)
                                {
                                    commentMessageItems.AddRange(commentMsgList);
                                }
                                break;
                            case 2:
                                var likeMsgList = messageList.List.Deserialize<List<LikeMessageItem>>();
                                if (likeMsgList != null)
                                {
                                    likeMessageItems.AddRange(likeMsgList);
                                }
                                break;
                            case 3:
                                var followMsgList = messageList.List.Deserialize<List<FollowMessageItem>>();
                                if (followMsgList != null)
                                {
                                    followMessageItems.AddRange(followMsgList);
                                }
                                break;
                            case 4:
                                // 系统消息处理 暂时留空
                                // var commentMsgList = messageList.List.Deserialize<List<CommentMessageItem>>();
                                // if (commentMsgList != null)
                                // {
                                //     commentMessageItems.AddRange(commentMsgList);
                                // }
                                break;
                        }
                    }

                }
            }

        }
    }

    /// <summary>
    /// 前往帖子详情页
    /// </summary>
    /// <param name="topicId"></param>
    private async void ToTopic(long topicId)
    {
        double scrollTop = 0;
        if (jsModule != null)
        {
            scrollTop = await jsModule.InvokeAsync<double>("getScrollPosition", "infinite-scroll-usage");
        }

        Debug.WriteLine($"scrollTop:{scrollTop}");
        // var stat = new HomeHistoryStatus()
        // {
        //     HotValue = this.HotValue,
        //     ReplyTime = this.ReplyTime,
        //     PubTime = this.PubTime,
        //     LastTid = this.LastTid,
        //     NextPage = this.NextPage,
        //     ShowPage = this.showPage,
        //     PostList = this.PostList,
        //     ScrollY = scrollTop,
        //     TopPostPreviews = this.TopPostPreviews
        // };
        // stateService.SetHomeHistoryStatus(stat);

        navigationService.NavigateTo($"/post/{topicId}");
    }

    /// <summary>
    /// 打开评论弹窗
    /// </summary>
    /// <param name="commentId">评论编号</param>
    /// <param name="topicId">帖子编号</param>
    /// <returns></returns>
    private async Task OpenCommentDialog(long commentId, long topicId)
    {
        var response = await httpTools.PostAsync("/community/comment/floor_info", new { comment_id = commentId, topic_id = topicId });
        if (response != null && response.Code == 0)
        {
            if (response.Data.HasValue)
            {
                var floorInfo = response.Data.Value.Deserialize<FloorInfoResponse>();
                this.floorInfo = floorInfo;
                showCommentDialog = true;
                postCommentState.IsOpenComment = true;
            }

        }
    }

    /// <summary>
    /// 关闭全部评论弹窗
    /// </summary>
    private void DisableCommentDialog()
    {
        floorInfo = null;
        showCommentDialog = false;
        postCommentState.IsOpenComment = false;
    }

    /// <summary>
    /// 评论弹窗状态变化
    /// </summary>
    /// <param name="state">新状态</param>
    private void CommentDialogStateChange(bool state)
    {
        if (state == false)
        {
            DisableCommentDialog();
            InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose()
    {
        postCommentState.CommentStateChange -= CommentDialogStateChange;
    }
}
