@page "/post/{Id:long}"

@layout WithBackLayout

@using System.Diagnostics
@using System.Text.Json
@using ExilumBBS.Components.Components
@using ExilumBBS.Components.Components.Toolbar.CommentBar
@using ExilumBBS.Models.DTO.Post
@using ExilumBBS.Models.Response
@using ExilumBBS.Models.Response.Post
@using ExilumBBS.State

@inject HttpTools httpTools
@inject NavigationManager navigationManager
@inject ITokenService tokenService
@inject IPopupService popupService
@inject INavigationService navigationService

@inject AppState appState

@if (postInfo != null && !string.IsNullOrEmpty(postInfo.Content))
{

    <MCard Class="overflow-auto"
           Style="margin: 0 auto;height: calc(100vh - 112px);"
           Id="infinite-scroll-usage">
        <MList dense>
            <MListItem>

                <MListItemContent>
                    <MListItemTitle class="d-flex align-center">
                        <MAvatar size="40" Class="mr-2">
                            <MImage Src="@postInfo.UserAvatar"></MImage>
                        </MAvatar>
                        <div class="topic-userinfo">
                            <div class="topic-userinfo-line1 align-center">
                                <span class="font-weight-medium">@postInfo.UserNickName</span>
                                <MChip Small
                                       Class="ml-2"
                                       Color="primary">
                                    @($"LV{postInfo.UserLevel}")
                                </MChip>
                                <MChip Small
                                       Class="ml-2"
                                       Color="primary">
                                    楼主
                                </MChip>
                                @if (postInfo.IsAdmin)
                                {
                                    <MChip Small
                                           Class="ml-2"
                                           Color="primary">
                                        官方
                                    </MChip>
                                }
                            </div>
                            <span class="text-caption text--secondary">
                                @postInfo.CreateTime @postInfo.IpLocation
                            </span>
                        </div>



                    </MListItemTitle>

                    <div class="mt-2 post-title">
                        @(postInfo.Title)
                    </div>
                    <div class="mt-2 post-content">
                        @((MarkupString)postInfo.Content)
                    </div>


                    <div class="d-flex align-center mt-2 mb-2">
                        <MButton Icon
                                 Size="small"
                                 Color="@(postInfo.IsLike ? "primary" : "default")"
                                 OnClick="() => ToggleTopicLike(postInfo)">
                            <MIcon>@(postInfo.IsLike ? "mdi-thumb-up" : "mdi-thumb-up-outline")</MIcon>
                        </MButton>
                        <span class="text-caption text--secondary ml-1">@postInfo.LikeNum</span>

                        <MButton Icon
                                 Size="small"
                                 Color="@(postInfo.IsBad ? "primary" : "default")"
                                 OnClick="() => ToggleTopicBad(postInfo)">
                            <MIcon>@(postInfo.IsBad ? "mdi-thumb-down" : "mdi-thumb-down-outline")</MIcon>
                        </MButton>

                        <MButton Icon
                                 Size="small"
                                 Class="ml-3"
                                 OnClick="() => {}">
                            <MIcon>mdi-comment-processing-outline</MIcon>
                        </MButton>
                        <span class="text-caption text--secondary ml-1">@postInfo.CommentNum</span>
                    </div>
                </MListItemContent>
            </MListItem>

            <MDivider />
        </MList>

        <MSubheader>评论(@postInfo.CommentNum)</MSubheader>
        @if (commentList.Count > 0)
        {
            <Comment Comments="commentList" TopicId="Id">

            </Comment>
        }

        <MInfiniteScroll OnLoad="@CommentOnLoad"
                         Parent="#infinite-scroll-usage">
        </MInfiniteScroll>
    </MCard>
    <CommentBar ToggleLike="() => ToggleTopicLike(postInfo)"
                ToggleDisLike="() => ToggleTopicBad(postInfo)"
                IsLike="postInfo.IsLike"
                IsDisLike="postInfo.IsBad"
                LikeNum="postInfo.LikeNum"
                CommentNum="postInfo.CommentNum" />
}

<style>
    .emoji {
        width: 3rem;
        height: 3rem;
    }

    img {
        max-width: 100%;
    }

    .post-title {
        font-size: 1.5rem;
        font-weight: 200;
        padding-bottom: 1rem;
    }
</style>


@code {
    [Parameter]
    public long Id { get; set; }

    private PostInfoResponse? postInfo;
    private List<CommentResponse> commentList = [];
    private PostCommentFilterDTO? filterDTO;

    /// <summary>
    /// 是否只看楼主
    /// </summary>
    private bool OnlyAuthor { get; set; }
    /// <summary>
    /// 排序方式
    /// </summary>
    private int Sort { get; set; } = 0;
    /// <summary>
    /// 是否还有下一页
    /// </summary>
    private bool NextPage { get; set; } = true;

    /// <summary>
    /// 获取帖子主体信息
    /// </summary>
    /// <returns></returns>
    private async Task GetTopicInfo()
    {
        Debug.WriteLine($"获取帖子{Id}的信息");
        var response = await httpTools.GetAsync($"/community/topic/{Id}");
        if (response != null && response.Code == 0 && response.Data != null)
        {
            var post = response.Data.Value.Deserialize<PostInfoResponse>();
            postInfo = post;
        }
        else if (response != null)
        {
            //此处应为获取失败后错误处理
            await popupService.EnqueueSnackbarAsync(response.Message, AlertTypes.Error);
        }
    }

    /// <summary>
    /// 触底加载
    /// </summary>
    /// <param name="args"></param>
    /// <returns></returns>
    private async Task CommentOnLoad(InfiniteScrollLoadEventArgs args)
    {
        await PostTopicCommentList();
        args.Status = NextPage == false ? InfiniteScrollLoadStatus.Empty : InfiniteScrollLoadStatus.Ok;
    }

    /// <summary>
    /// 获取帖子评论
    /// </summary>
    /// <returns></returns>
    private async Task PostTopicCommentList()
    {
        Debug.WriteLine($"获取帖子{Id}的评论");

        if (NextPage == true)
        {
            if (filterDTO == null)
            {
                filterDTO = new PostCommentFilterDTO()
                {
                    TopicId = Id
                };
            }

            //设置查询DTO参数
            filterDTO.OnlyAuthor = this.OnlyAuthor;
            filterDTO.Sort = this.Sort;

            var response = await httpTools.PostAsync($"/community/comment/list", filterDTO);

            if (response != null && response.Code == 0 && response.Data != null)
            {
                var postList = response.Data.Value.Deserialize<CommentPageListResponse>();
                if (postList != null)
                {
                    filterDTO.HotValue = postList.HotValue;
                    filterDTO.LastId = postList.LastId;
                    NextPage = postList.NextPage;
                    commentList.AddRange(postList.List);
                }
                else
                {
                    //评论获取失败后错误处理
                    await popupService.EnqueueSnackbarAsync("操作失败", AlertTypes.Error);
                }

            }
            else if (response != null)
            {
                //此处应为获取失败后错误处理
                await popupService.EnqueueSnackbarAsync(response.Message, AlertTypes.Error);
            }
            else
            {
                await popupService.EnqueueSnackbarAsync("系统错误", AlertTypes.Error);
            }
        }
    }

    private async Task ToggleTopicLike(PostInfoResponse postInfoResponse)
    {
        // 判断登录状态
        if (await tokenService.GetTokenAsync() == null)
        {
            await popupService.EnqueueSnackbarAsync("请先登录", AlertTypes.Warning);
            return;
        }

        var response = await httpTools.GetAsync($"/community/topic/like/{postInfoResponse.TopicId}");
        if (response != null && response.Code == 0)
        {
            if (postInfoResponse.IsLike)
            {
                // 再点一次是取消点赞
                await popupService.EnqueueSnackbarAsync("取消点赞");
            }
            else
            {
                await popupService.EnqueueSnackbarAsync("点赞成功");
            }
            Debug.WriteLine("点赞成功");
            await GetTopicInfo();
        }
    }

    /// <summary>
    /// 点踩
    /// </summary>
    /// <param name="postInfoResponse"></param>
    /// <returns></returns>
    private async Task ToggleTopicBad(PostInfoResponse postInfoResponse)
    {
        // 判断登录状态
        if (await tokenService.GetTokenAsync() == null)
        {
            Debug.WriteLine("请先登录");
            await popupService.EnqueueSnackbarAsync("请先登陆", AlertTypes.Warning);
            return;
        }

        var response = await httpTools.GetAsync($"/community/topic/bad/{postInfoResponse.TopicId}");
        if (response != null && response.Code == 0)
        {
            if (postInfoResponse.IsBad)
            {
                // 再点一次是取消点赞
                await popupService.EnqueueSnackbarAsync("取消点踩");
            }
            else
            {
                await popupService.EnqueueSnackbarAsync("点踩成功");
            }
            Debug.WriteLine("点踩成功");
            await GetTopicInfo();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await GetTopicInfo();
        await PostTopicCommentList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    protected override Task OnInitializedAsync()
    {
        navigationService.Initialize(navigationManager);
        appState.WithbackLayoutState.AppBarTitle = "帖子";
        return base.OnInitializedAsync();
    }
}
