@using System.Globalization
@using ExilumBBS.Models.Response.Post
@using ExilumBBS.State
@using System.Diagnostics

@inject HttpTools httpTools
@inject UserState userState

<MList dense>
    @if (Comments != null && Comments.Count > 0)
    {
        @foreach (var comment in Comments)
        {
            <MListItem>

                <MListItemContent>
                    <MListItemTitle class="d-flex align-center">
                        <MAvatar size="40" Class="mr-2">
                            <MImage Src="@comment.UserAvatar"></MImage>
                        </MAvatar>
                        <span class="font-weight-medium">@comment.UserNickName</span>
                        <MChip Size="x-small"
                               Class="ml-2"
                               Color="primary">
                            @($"LV{comment.UserLevel}")
                        </MChip>
                        @if (comment.IsAuthor)
                        {
                            <MChip Size="x-small"
                                   Class="ml-2"
                                   Color="primary">
                                楼主
                            </MChip>
                        }
                        <span class="text-caption text--secondary ml-2">
                            @comment.CreateTime
                        </span>
                    </MListItemTitle>

                    <div class="mt-2 text-sm-body-2">
                        @((MarkupString)comment.Content)
                    </div>


                    <div class="d-flex align-center">
                        <MButton Icon
                                 Size="small"
                                 Color="@(comment.IsLike ? "primary" : "default")"
                                 OnClick="() => ToggleLike(comment)">
                            <MIcon>@(comment.IsLike ? "mdi-thumb-up" : "mdi-thumb-up-outline")</MIcon>
                        </MButton>
                        <span class="text-caption text--secondary ml-1">@comment.LikeNum</span>

                        <MButton Icon
                                 Size="small"
                                 Color="@(comment.IsDislike ? "primary" : "default")"
                                 OnClick="() => ToggleDisLike(comment)">
                            <MIcon>@(comment.IsDislike ? "mdi-thumb-down" : "mdi-thumb-down-outline")</MIcon>
                        </MButton>

                        <MButton Text
                                 Size="small"
                                 Class="ml-3"
                                 OnClick="() => {}">
                            <MIcon left>mdi-reply</MIcon>
                            回复
                        </MButton>
                    </div>
                </MListItemContent>
            </MListItem>

            <MDivider inset />
        }
    }

</MList>

@code {
    [Parameter]
    public List<CommentResponse>? Comments { get; set; }

    [Parameter]
    public long TopicId { get; set; }

    public async Task ToggleLike(CommentResponse comment)
    {
        if (!userState.IsLogin)
        {
            Debug.WriteLine("请先登录!");
        }

        var response = await httpTools.PostAsync("/community/comment/like", new { comment_id = comment.CommentId, topic_id = TopicId });

        if (response != null && response.Code == 0)
        {
            comment.IsLike = !comment.IsLike;

            if (comment.IsLike)
            {
                comment.LikeNum++;
            }
            else
            {
                comment.LikeNum--;
            }

            if (comment.IsDislike)
            {
                comment.IsDislike = false;
                comment.DislikeNum--;
            }
        }
        else if (response != null && response.Code == 401)
        {
            Debug.WriteLine("请先重新登录!");
        }
    }

    public async Task ToggleDisLike(CommentResponse comment)
    {
        if (!userState.IsLogin)
        {
            Debug.WriteLine("请先登录!");
        }

        var response = await httpTools.PostAsync("/community/comment/bad", new { comment_id = comment.CommentId, topic_id = TopicId });

        if (response != null && response.Code == 0)
        {
            comment.IsDislike = !comment.IsDislike;

            if (comment.IsLike)
            {
                comment.IsLike = false;
                comment.LikeNum--;
            }
        }
        else if (response != null && response.Code == 401)
        {
            Debug.WriteLine("请先重新登录!");
        }
    }
}