@using System.Globalization
@using ExilumBBS.Models.Response.Post
@using ExilumBBS.State
@using System.Diagnostics

@inject HttpTools httpTools
@inject UserState userState
@inject PostCommentState postCommentState
@inject IPopupService popupService

<MList dense>
    @if (Comments != null && Comments.Count > 0)
    {
        @foreach (var comment in Comments)
        {
            <MListItem>
                <MListItemContent>
                    <MListItemTitle class="d-flex align-center">
                        <MAvatar size="40" Class="mr-2">
                            <MImage Src="@comment.UserAvatar"></MImage>
                        </MAvatar>
                        <div class="topic-userinfo">
                            <div class="topic-userinfo-line1 align-center">
                                <span class="font-weight-medium">@comment.UserNickName</span>
                                <MChip Small
                                       Class="ml-2"
                                       Color="primary">
                                    @($"LV{comment.UserLevel}")
                                </MChip>
                                @if (comment.IsAuthor)
                                {
                                    <MChip Small
                                           Class="ml-2"
                                           Color="primary">
                                        楼主
                                    </MChip>
                                }

                                @if (comment.IsAdmin)
                                {
                                    <MChip Small
                                           Class="ml-2"
                                           Color="primary">
                                        官方
                                    </MChip>
                                }

                            </div>

                            <span class="text-caption text--secondary">
                                @comment.CreateTime @comment.IpLocation
                            </span>
                        </div>

                    </MListItemTitle>

                    <div class="mt-2 pl-12 post-content" style="overflow-x:auto;width:95%">
                        @((MarkupString)comment.Content)
                    </div>

                    @*评论回复部分*@
                    <div class="reply ml-14">
                        @if (comment.CommentReply != null && comment.CommentReply.Count > 0)
                        {
                            bool showMore = comment.CommentReply.Count > 2;

                            // 显示前两条回复或全部回复
                            var repliesToShow = showMore ? comment.CommentReply.Take(2) : comment.CommentReply;
                            <MList Dense>
                                @foreach (var item in repliesToShow)
                                {
                                    <MListItem>
                                        <div class="topic-userinfo">
                                            <div class="d-flex reply-title">
                                                <div class="comment-userinfo">
                                                    <span class="font-weight-medium deep-orange--text">
                                                        @item.UserNickName
                                                    </span>
                                                    @if (!string.IsNullOrEmpty(item.ReplyTo))
                                                    {
                                                        <span class="ml-1">回复</span>
                                                        <span class="ml-1 deep-orange--text">
                                                            @item.ReplyTo
                                                        </span>
                                                    }
                                                    <span>
                                                        :
                                                    </span>
                                                    @if (item.IsAuthor)
                                                    {
                                                        <MChip Small
                                                               Class="ml-2"
                                                               Color="primary">
                                                            楼主
                                                        </MChip>
                                                    }

                                                    @if (item.IsAdmin)
                                                    {
                                                        <MChip Small
                                                               Class="ml-2"
                                                               Color="primary">
                                                            官方
                                                        </MChip>
                                                    }
                                                </div>
                                            </div>

                                            <div class="reply-content mt-2" style="overflow-x:auto;">
                                                @((MarkupString)item.Content)
                                            </div>

                                            <div class="mt-2 reply-toolbar" style="width:80%;">
                                                <p class="grey--text text--lighten-1">
                                                    @item.CreateTime
                                                </p>

                                                <MButton Icon
                                                         Size="small">
                                                    <MIcon>mdi-comment-processing-outline</MIcon>
                                                </MButton>
                                            </div>
                                        </div>
                                    </MListItem>
                                }

                                @if (showMore)
                                {
                                    <MButton Color="deep-orange"
                                             Text
                                             OnClick="()=>ShowCommentDialog(comment.CommentReply)">
                                        查看更多回复（@($"{comment.CommentReply.Count}条")）
                                    </MButton>
                                }

                            </MList>
                        }
                    </div>


                    <div class="d-flex align-center ml-10">
                        <MButton Icon
                                 Size="small"
                                 OnClick="() => {}">
                            <MIcon left>mdi-comment-outline</MIcon>
                        </MButton>
                        <span class="text-caption text--secondary">@comment.ReplyNum</span>
                        <MButton Icon
                                 Size="small"
                                 Color="@(comment.IsLike ? "primary" : "default")"
                                 OnClick="() => ToggleLike(comment)">
                            <MIcon>@(comment.IsLike ? "mdi-thumb-up" : "mdi-thumb-up-outline")</MIcon>
                        </MButton>
                        <span class="text-caption text--secondary ml-1">@comment.LikeNum</span>

                        <MButton Icon
                                 Size="small"
                                 Color="@(comment.IsDislike ? "primary" : "default")"
                                 OnClick="() => ToggleDisLike(comment)">
                            <MIcon>@(comment.IsDislike ? "mdi-thumb-down" : "mdi-thumb-down-outline")</MIcon>
                        </MButton>


                    </div>
                </MListItemContent>
            </MListItem>

            <MDivider />
        }
    }

</MList>

@if (showCommentDialog == true)
{
    <MDialog @bind-Value="showCommentDialog"
             Fullscreen
             Transition="dialog-bottom-transition">
        <ChildContent>
            <MCard>
                <MToolbar>
                    <MButton Icon
                             OnClick="() => DisableCommentDialog()">
                        <MIcon>mdi-close</MIcon>
                    </MButton>
                    <MToolbarTitle>评论</MToolbarTitle>
                    <MSpacer></MSpacer>
                </MToolbar>
                <MList Dense
                       Class="overflow-auto"
                       Style="margin: 0 auto;height:calc(100vh - 64px)">
                    @if (showCommentDialog == true)
                    {
                        @foreach (var item in ReplyList)
                        {
                            <MLazy Options="new IntersectionObserverInit(0.5)">
                                <MListItem>
                                    <div class="topic-userinfo">
                                        <div class="comment-userinfo">
                                            <MAvatar size="32" Class="mr-2">
                                                <MImage Src="@item.UserAvatar"></MImage>
                                            </MAvatar>
                                            <div>
                                                <span class="font-weight-medium deep-orange--text">
                                                    @item.UserNickName
                                                </span>
                                                @if (!string.IsNullOrEmpty(item.ReplyTo))
                                                {
                                                    <span class="ml-1">回复</span>
                                                    <span class="ml-1 deep-orange--text">
                                                        @item.ReplyTo
                                                    </span>
                                                }
                                                <span>
                                                    :
                                                </span>
                                                @if (item.IsAuthor)
                                                {
                                                    <MChip Small
                                                           Class="ml-2"
                                                           Color="primary">
                                                        楼主
                                                    </MChip>
                                                }

                                                @if (item.IsAdmin)
                                                {
                                                    <MChip Small
                                                           Class="ml-2"
                                                           Color="primary">
                                                        官方
                                                    </MChip>
                                                }
                                            </div>
                                        </div>

                                        <div class="mt-2 ml-10 post-content">
                                            @((MarkupString)item.Content)
                                        </div>

                                        <div class="mt-2 ml-10 reply-toolbar">
                                            <p class="grey--text text--lighten-1">
                                                @item.CreateTime
                                            </p>

                                            <MButton Icon
                                                     Size="small">
                                                <MIcon>mdi-comment-processing-outline</MIcon>
                                            </MButton>
                                        </div>
                                    </div>
                                </MListItem>
                                <MDivider></MDivider>
                            </MLazy>
                        }
                    }
                </MList>
            </MCard>
        </ChildContent>
    </MDialog>
}


<style>
    .emoji {
        width: 3rem;
        height: 3rem;
    }

    img {
        max-width: 100%;
    }

    .comment-userinfo {
        display: flex;
        width: 100%;
    }

    .reply-title {
        display: flex;
        flex-direction: column;
    }

    .reply-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .reply-content {
        display: flex;
        overflow-x: auto;
        word-break: break-all;
        width: 80%;
    }

    .comment-toolbar {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    .post-content p {
        width: 95%;
    }
</style>

@code {
    [Parameter]
    public List<CommentResponse>? Comments { get; set; }

    [Parameter]
    public long TopicId { get; set; }

    private bool showCommentDialog { get; set; }

    private List<CommentWithReplyToResponse> ReplyList { get; set; } = [];

    private async Task DisableCommentDialog()
    {
        showCommentDialog = false;
        postCommentState.IsOpenComment = false;
    }

    private async Task ToggleLike(CommentResponse comment)
    {
        if (!userState.IsLogin)
        {
            Debug.WriteLine("请先登录!");
            await popupService.EnqueueSnackbarAsync("请先登录", AlertTypes.Warning);
            return;
        }

        var response = await httpTools.PostAsync("/community/comment/like", new { comment_id = comment.CommentId, topic_id = TopicId });

        if (response != null && response.Code == 0)
        {
            comment.IsLike = !comment.IsLike;

            if (comment.IsLike)
            {
                comment.LikeNum++;
                await popupService.EnqueueSnackbarAsync("点赞成功");
            }
            else
            {
                comment.LikeNum--;
                await popupService.EnqueueSnackbarAsync("取消点赞");
            }

            if (comment.IsDislike)
            {
                comment.IsDislike = false;
                comment.DislikeNum--;
            }
        }
    }

    private async Task ToggleDisLike(CommentResponse comment)
    {
        if (!userState.IsLogin)
        {
            await popupService.EnqueueSnackbarAsync("请先登录", AlertTypes.Warning);
            return;
        }

        var response = await httpTools.PostAsync("/community/comment/bad", new { comment_id = comment.CommentId, topic_id = TopicId });

        if (response != null && response.Code == 0)
        {
            comment.IsDislike = !comment.IsDislike;

            if (comment.IsDislike)
            {
                await popupService.EnqueueSnackbarAsync("点踩成功");
            }
            else
            {
                await popupService.EnqueueSnackbarAsync("取消点踩");
            }

            if (comment.IsLike)
            {
                comment.IsLike = false;
                comment.LikeNum--;
            }
        }
    }

    public async Task ShowCommentDialog(List<CommentWithReplyToResponse> commentList)
    {
        ReplyList = commentList;
        postCommentState.IsOpenComment = true;
        showCommentDialog = true;
    }

    private void CommentStateChange(bool state)
    {
        showCommentDialog = state;
        InvokeAsync(StateHasChanged);
    }

    protected override Task OnInitializedAsync()
    {
        postCommentState.CommentStateChange += CommentStateChange;
        return base.OnInitializedAsync();
    }
}