@namespace ExilumBBS.Components
@using System.Text.Json
@using ExilumBBS.Models.DTO.Emoji
@using ExilumBBS.Models.Response.Emoji
@using ExilumBBS.Models.Response.Signature
@using ExilumBBS.Components.Components.Popup
@using System.Diagnostics

@inject IJSRuntime Js
@inject HttpTools HttpTools

<div class="@Class">
    <div @ref="QuillElement" class="editor"></div>
    <div class="editor-toolbar mt-2 mb-2">
        <MIcon OnClick="() => SwitchEmojiList()">mdi-emoticon-happy-outline</MIcon>
        <MIcon OnClick="() => PickAndUpload()">mdi-image</MIcon>
    </div>

    <div class="editor-imgList mt-2">
        @foreach (var item in _uploadImgs)
        {
            <div class="editor-imgList-item">
                <img src="@item" />
            </div>
        }
    </div>
    @if (_emojiSelectVisible)
    {
        <Popup @bind-Visible="_emojiSelectVisible">
            <div class="editor-popup-emoji">
                <div class="editor-popup-emoji-content">
                    @if (_emojiList != null && _selectedEmoji != null)
                    {
                        @foreach (var item in _selectedEmoji)
                        {
                            <div class="editor-popup-emoji-content-item" @onclick="() => InsertEmoji(item.UrlPath)">
                                <img src="@item.UrlPath" style="width:100%" />
                                <span>@item.UrlDesc</span>
                            </div>
                        }
                    }
                </div>
                <div class="editor-popup-emoji-toolbar">
                    @if (_emojiList != null)
                    {
                        @foreach (var item in _emojiList)
                        {
                            <div class="editor-popup-emoji-type-item" @onclick="() => SwitchSelectedEmoji(item.ClassifyId)">
                                <img src="@item.ImgAddr" style="width:100%;" />
                            </div>
                        }
                    }
                </div>
            </div>
        </Popup>
    }
</div>


@code {
    /// <summary>
    /// 应用在编辑器框架上的css样式
    /// </summary>
    [Parameter]
    public string? Class { get; set; }

    /// <summary>
    /// 上传的图片
    /// </summary>
    public List<string> _uploadImgs { get; set; } = [];

    private bool _emojiSelectVisible;

    /// <summary>
    /// 表情包列表
    /// </summary>
    private List<EmojiCategory>? _emojiList;

    /// <summary>
    /// 选中的表情包
    /// </summary>
    private List<EmojiItem>? _selectedEmoji;

    private int _selectedClassifyId;

    private ElementReference QuillElement { get; set; }

    /// <summary>
    /// 获取HTML
    /// </summary>
    /// <returns></returns>
    public async Task<string> GetHtmlContent()
    {
        return await QuillInterop.GetHTML(Js, QuillElement);
    }

    /// <summary>
    /// 选取图片并上传
    /// </summary>
    /// <returns></returns>
    private async Task PickAndUpload()
    {
        try
        {
            var results = await MediaPicker.PickPhotosAsync(new MediaPickerOptions
            {
                // 限制选取图片数量（0为不限制）
                SelectionLimit = 0,
                RotateImage = false,
                PreserveMetaData = false,
            });

            var uploadUrlList = new List<string>();

            var signatureResponse = await HttpTools.PostAsync("/community/signature", null);
            if (signatureResponse != null && signatureResponse.Code == 0 && signatureResponse.Data.HasValue)
            {
                var signature = signatureResponse.Data.Value.Deserialize<SignatureResponse>();

                if (signature != null)
                {
                    foreach (var item in results)
                    {
                        var uploadName = await HttpTools.UploadToOSS(signature.Host, signature.Policy, signature.AccessId, signature.Dir, signature.Signature, item);
                        if (!string.IsNullOrEmpty(uploadName))
                        {
                            // 将上传完成的图片地址加入到URL中
                            uploadUrlList.Add($"{signature.CDNHost}/{signature.Dir}{uploadName}");
                            Debug.WriteLine($"OSS图片地址:{signature.CDNHost}/{signature.Dir}{uploadName}");
                        }
                    }
                }

            }

            _uploadImgs.AddRange(uploadUrlList);
        }
        catch (Exception ex)
        {
            // 打印错误信息
            Debug.Fail(ex.Message);
        }
    }

    /// <summary>
    /// 切换表情包面板状态
    /// </summary>
    /// <returns></returns>
    private async Task SwitchEmojiList()
    {
        if (_emojiSelectVisible)
        {
            _emojiSelectVisible = false;
            // 表情面板关闭后，主动聚焦回编辑器（提升体验）
            await QuillInterop.FocusQuill(Js, QuillElement);
        }
        else
        {
            await GetEmojiList();
            _emojiSelectVisible = true;
        }
    }

    /// <summary>
    /// 切换表情包
    /// </summary>
    /// <param name="ClassifyId"></param>
    /// <returns></returns>
    private async Task SwitchSelectedEmoji(int ClassifyId)
    {
        if (_emojiList != null)
        {
            var selected = _emojiList.Where(it => it.ClassifyId == ClassifyId).First();
            _selectedEmoji = selected.EmojiList;
            _selectedClassifyId = selected.ClassifyId;
        }
    }

    /// <summary>
    /// 获取表情包列表
    /// </summary>
    /// <returns></returns>
    private async Task GetEmojiList()
    {
        var response = await HttpTools.GetAsync("/community/emoji");
        if (response != null && response.Code == 0)
        {
            if (response.Data.HasValue)
            {
                var emojiList = response.Data.Value.Deserialize<EmojiResponse>();
                if (emojiList != null && emojiList.List != null)
                {
                    this._emojiList = emojiList.List;
                    this._selectedEmoji = emojiList.List.First().EmojiList;
                    this._selectedClassifyId = emojiList.List.First().ClassifyId;
                }
            }
        }
    }

    /// <summary>
    /// 插入选定表情
    /// </summary>
    /// <param name="emojiUrl"></param>
    /// <returns></returns>
    private async Task InsertEmoji(string emojiUrl)
    {
        await QuillInterop.InsertQuillEmoji(Js, QuillElement, emojiUrl);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await QuillInterop.CreateQuill(
                Js,
                QuillElement,
                false,
                "说点什么",
                "snow",
                "info",
                false);
            await QuillInterop.FocusQuill(Js, QuillElement);
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
